

     
   <div>    
	<div class="col-sm-8" id="write"><br>
		<div class="well">
        <a href="#" class="tile4">
        <i class='fas fa-edit' ></i>&nbsp&nbsp
         <span class="title">08 Tests</span><br>
          <h3 style="padding-left:50px">Writing
          <span> <i class='fas fa-arrow-right' style="padding-left:550px"></i></span></h3>
        </a>     </div>
	  <br><br>
      <div class="well">
      <h3>Essay</h3>
      <h6>71 Questions</h6>
       <p>English Essay Writing - On this page, you will find Essays in English,
        Latest Essay Topics, examples and format for essay writing. What exactly
        is essay writing?. Essay are short pieces of writing with a focus on a 
        single subject. It starts with the introduction of the subject, followed
        by a middle or body in which the author gives his argument as per his
        understanding of the subject followed by a conclusion paragraph that
        summarises the findings of the essay.In Colleges and Universities in
        many Countries (US, UK and many others), Essays have become a major
        part of Formal Education. Many Competitive Exams in India like UPSC
        Civil Services Exams, Bank Exams, etc also has a question on essay 
        writing. Given below are a few example essays on different topics. </p>
        <button class="btn btn-primary" (click)="onSubmit()">START</button>
      </div>
      <div class="well">
      <h3>Summarize Written Text</h3>
      <h6>71 Questions</h6>
       <p>It is a great thing to start life witha small number of really good books
         which are your very own...A summary is a brief statement or restatement of
         main points, especially as a conclusion to a work: a summary of a chapter.
         A brief is a detailed outline, by heads and subheads, of a discourse 
         (usually legal) to be completed: a brief for an argument.</p>
         <button class="btn btn-primary" (click)="onSubmit()">START</button>
      </div>
      
    </div>
	
  	<div class="col-sm-4">
      <div class="well">
       <p>There is nothing more luxurious than
        eating while you read unless it be
        reading while you eat... </p>
      </div>
      <div class="well">
       <p>It is a great thing to start life with
        a small number of really good books
         which are your very own...</p>
      </div>
      <div class="well">
       <p>No entertainment is so cheap as reading,
        nor any pleasure so lasting.
        Keep this word in your mind..</p>
      </div>
      <div class="well">
       <p>To acquire the habit of reading is to construct
        for yourself a refuge from almost
         all the miseries of life...</p>
      </div>
      <div class="well">
       <p>There is nothing more luxurious than
        eating while you read unless it be
        reading while you eat... </p>
      </div>
      <div class="well">
       <p>It is a great thing to start life with
        a small number of really good books
         which are your very own...</p>
      </div>
      <div class="well">
       <p>No entertainment is so cheap as reading,
        nor any pleasure so lasting.
        Keep this word in your mind..</p>
      </div>
    </div>
</div>