


 <div style="padding:10px;margin-left: 45px;">
	<div style="padding:10px;background-color:#b30000;color:white;width:100%;height:1%">
	<h2>Write Essay #07896 
	<button class="btn btn-success"  style="font-size:10px">Read Questions</button>
	<span id="time" style="padding-left:900px;">00:{{counter.min}}:{{counter.sec}}</span></h2>
	</div>
	
	<div style="padding:10px;background-color:#F2F4F4 ;color:#48C9B0  ;width:100%;height:2%;font-size:25px">
	
	<span>
	<button class="btn btn-success"  style="font-size:10px;margin-left:900px">Read Questions</button>
	<button class="btn btn-success"  style="font-size:10px;">Read Questions</button>
	<button class="btn btn-success"  style="font-size:10px;">Read Questions</button>
	</span>
	</div>
	<div style="padding:10px;background-color:#F8F9F9 ;color:#48C9B0  ;width:100%;height:2%;font-size:25px;font-sze:20px">
	How does the design of buildings affect,either positively, where people work and live?
	</div>
	
	
    
	<textarea [(ngModel)]="typedText" [disabled]="isDisabled" style="padding:10px;
    background-color:#D5D8DC;color:black;width:100%;height:340px;font-size:12px"></textarea>

<div style="padding:10px;background-color:#F8F9F9 ;color:#48C9B0  ;width:100%;height:2%;font-size:25px;font-sze:20px">
    <p style="color:blue;font-size:30px">Word Count: {{getWordCount()}}
         <span style="margin-left: 950px;color:red;font-size:40px">{{timeOut}}</span></p>
</div>
</div> 

